<div class="pagenav">
  <%= link_to 'Edit', edit_litter_path(@litter) %> |
<%= link_to 'Back', litters_path %>
</div>

<p id="notice"><%= notice %></p>

<p>
  <b>Birthday:</b>
  <%= @litter.birthday %>
</p>

<p>
  <b>Sire:</b>
  <%= @litter.sire_id %>
</p>

<p>
  <b>Dame:</b>
  <%= @litter.dame_id %>
</p>



