<%= form_for(@dame) do |f| %>
  <% if @dame.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dame.errors.count, "error") %> prohibited this dame from being saved:</h2>

      <ul>
      <% @dame.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :breed_id %><br />
    <%= collection_select(:dame, 
                          :breed_id, 
                          @breeds, 
                          :id, 
                          :name ) %>
  </div>
  <div class="field">
    <%= f.label :birthday %><br />
    <%= f.date_select :birthday, :order => [:day, :month, :year], :use_short_month=>true %>
  </div>
  <div class="field">
    <%= f.label :active %><br />
    <%= f.check_box :active %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
