<%= form_for(@expense_type) do |f| %>
  <% if @expense_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@expense_type.errors.count, "error") %> prohibited this expense_type from being saved:</h2>

      <ul>
      <% @expense_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :expense_tax_type_id %><br />
        <%= collection_select(:expense_type,
                      :expense_tax_type_id,
                      @expense_tax_types,
                      :id,
                      :name,
                      {:include_blank => true}) %>
    <%= link_to "Add new expense tax type", expense_tax_types_path %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
