<div class="pagenav">
  <%= link_to 'New Sire', new_sire_path %>
</div>

<h1>Listing sires</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Birthday</th>
    <th>Active</th>
    <th>Breed</th>
    <th></th>
    <th></th>
  </tr>

<% @sires.each do |sire| %>
  <tr>
    <td><%= sire.name %></td>
    <td><%= sire.birthday %></td>
    <td><%= sire.active %></td>
    <td><%= sire.breed.name %></td>
    <td><%= link_to 'Edit', edit_sire_path(sire) %></td>
    <td><%= link_to 'Destroy', sire, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />


