<div class="pagenav">
  <%= link_to 'Edit', edit_expense_path(@expense) %> |
<%= link_to 'Back', expenses_path %>
</div>

<p id="notice"><%= notice %></p>

<p>
  <b>Expense type:</b>
  <%= @expense.expense_type.name %>
</p>

<p>
  <b>Name:</b>
  <%= @expense.name %>
</p>

<p>
  <b>Amount:</b>
  <%= number_to_currency @expense.amount %>
</p>

<p>
  <b>Date:</b>
  <%= @expense.date %>
</p>

<p>
  <b>Litter:</b>
  <%= @expense.litter.try(:birthday) %>
</p>

<p>
  <b>Notes:</b>  <br>
  <%= text_area_tag :notes_text, @expense.notes, :disabled => true %>
</p>



